
.fundo-liso {	
	

	background: #0D47A1;
	border-top: solid 5px white;
  
  text-align: center;

	
	background-image: linear-gradient(135deg, transparent, 
		                                  transparent 14px, 
		                                  rgba(0, 0, 0, 0.5) 16px,
		                                  rgba(0, 0, 0, 0.5) 16px, 
		                                  transparent 15px,
		                                  transparent);
	background-size: 20px 20px;
	background-attachment: fixed;

  
}

.titulo-botao-ajuda {

  font-size: 35px;
}


.tipo-ajuda {


  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;
  margin-bottom: 100px;
  
}


.ajuda-botao a {
 
  padding: 20px;
  background: #2196F3;
  margin-top: 10px;
  border-radius: 20px;
  height: 200px;
  margin-top: 60px
}

.money-img{

  content:url(../img/money.svg);
  margin-top: 30px;
  width: 100px;
  height: 100px;
}

.



@media (min-width: 500px) {

  .ajuda-botao a:hover {
    background: #fcc316;
    box-shadow: 0 8px #d19d00;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

}
