
.fundo-liso {	
	

	background: rgba(66, 66, 66, 0.57);
	border-top: solid 5px white;
  border-bottom: solid 5px white;

  text-align: center;

	
	background-image: linear-gradient(135deg, transparent, 
		                                  transparent 14px, 
                                      rgb(205, 202, 209) 16px,
		                                  rgb(205, 202, 209) 16px, 
		                                  transparent 0px,
		                                  transparent);
	background-size: 40px 40px;
  background-attachment: fixed;


  
}


.titulo-ajuda {

	font-size: 30px;
	text-align: center;

  text-shadow: 0px 4px 5px #000; 
  letter-spacing: 1px;

}

.fundo-titulo-ajuda {
	
	color: #fff;
	background-color: rgba(66, 66, 66, 0.57);
	
	padding: 35px;
	width: 60%;

	border-radius: 30px;

	position: absolute;
	
	margin-top: 120px;
	margin-left: 50%;
	transform: translate(-50%, -50%);

	transition: 0.3s
	
}

.tipo-ajuda {


  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;
	margin-bottom: 100px;
	
}

.titulo-botao-ajuda {

  font-size: 35px;
}


.ajuda-botao a {
 
  padding: 20px;
  background: #4ABDAC;
  box-shadow: 0 8px rgb(42, 119, 108);
  border-radius: 5px;
  height: 220px;
  margin-top: 300px;
  margin-bottom: 80px;

}

.money-img{

  
  margin-top: 30px;
  max-width: 153px;
}

.food-img {

  margin-top: 22px;
  max-width: 153px;
}

.medicine-img {

  margin-top: 20px;
  max-width: 153px;
}

.clothes-img {

  margin-top: 25px;
  max-width: 153px;
}

@media (min-width: 500px) {

  .ajuda-botao a:hover {
    background: #F7B733;
    box-shadow: 0 8px rgb(180, 133, 38);
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

	

}
