.rodape {
	
	border-top: solid 5px #fff;
	padding: 20px;
	border-bottom: solid 5px #222222;
	margin-top: 20px;
	background: #222222;
	
}
.rodape h2 {

	padding: 20px;
	font-size:20px;
	color: #fff;
}
