

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(31, 31, 31);
  font-size: 12px;
  opacity: 1; /* Firefox */
}

.contato-form {
  display: flex;
  flex-direction: column;
  border-top: #fff dashed 4px;
  padding: 60px;
  text-align: center;
  background: url(../img/contato.jpg) no-repeat fixed center / cover;
}

.contato-title {
  
  font-size: 40px;
  margin-bottom: 35px;
  color: rgb(31, 31, 31);;
  text-transform: uppercase;
}

.form-control {
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  margin-bottom: 16px;
}

form .submit {
  background: #4ABDAC;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #F7B733;
  -webkit-transition: all ease .5s;
          transition: all ease .5s;
  cursor: pointer;
}


