
#map {
    height: 600px;
    width: 100%;
    border-top: 5px dashed white;
    border-bottom: 5px dashed white;
}

#title-name {
    
    margin: 230px 0 20px;
    font-size: 5rem;
    text-shadow: 0px 5px 5px #000; 
}

.container-instituição {
    
    background: url(../img/gray-cover.png) no-repeat fixed center / cover;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 80px 0 350px;
    border-bottom: 5px solid #4ABDAC;
}

.send-donation {
    
    color: white;
    text-shadow: 0px 3px 3px #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}   

#address {
    
    color: #4ABDAC;
    font-size: 3em;
    text-shadow: 1px 5px 5px #000;
    margin-top: 50px;
    margin-bottom: 50px;  
}

.floating-btn {

    position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	right:40px;
	background-color:#4ABDAC;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 0px 4px 4px rgb(70, 70, 70);
}

.floating-btn:hover {

    background-color:#F7B733;
    box-shadow: 0px 4px 4px rgb(180, 133, 38);
}

.btn-img {
    width: 50px;
    height: 50px;
    margin-top: 13px;
}