
header {
    background: url(../img/gray-cover.png) no-repeat fixed center / cover;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 80px 0 350px;
}

#titulo-tipo-de-ajuda {
    margin: 230px 0 20px;
    font-size: 5rem;
    text-shadow: 0px 5px 5px #000; 
}