
header {
    background: url(../img/gray-cover.png) no-repeat fixed center / cover;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 80px 0 350px;
}

.fundo-liso {	
	
    background: rgba(66, 66, 66, 0.57);
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    text-align: center;
    background-image: linear-gradient(135deg, transparent, 
                                            transparent 14px, 
                                        rgb(205, 202, 209) 16px,
                                            rgb(205, 202, 209) 16px, 
                                            transparent 0px,
                                            transparent);
    background-size: 40px 40px;
    background-attachment: fixed;
}

#titulo-tipo-de-ajuda {

    margin: 230px 0 20px;
    font-size: 5rem;
    text-shadow: 0px 5px 5px #000; 
}

.lista-instituicao {

    margin-top: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
}   

.nome-instituicao {

    border: 2px solid white;
    background-color: rgba(255, 255, 255, .3);  
    color: white;
    width: 50%;
    margin: 25px;
    font-size: 50px;
    padding: 25px;
    border-radius: 50px;    
}

@media screen and (max-width: 800px) {

    #titulo-tipo-de-ajuda {
      font-size: 3rem;
    }

    .nome-instituicao {
        font-size: 30px;
    }
}
  
@media screen and (min-width: 500px) {

    .nome-instituicao:hover {
        background: #F7B733;
        box-shadow: 0 8px rgb(180, 133, 38);
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
    }
}


.loader {

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}